<%# locals: (pokemons:) -%>

<div class="flex flex-col gap-2">
  <% pokemons.each do |pokemon| %>
    <%= link_to pokemon do %>
      <%= image_tag pokemon.default_sprite, loading: :lazy, class: " h-20" %>
    <% end %>
  <% end %>
</div>
